contextily~=1.6
earthaccess==0.13
fsspec~=2025.2
geopandas~=1.0
jupyterlab~=4.2
h5netcdf~=1.5
h5py~=3.12
h5pyd~=0.21
keras~=3.8
matplotlib~=3.10
netcdf4~=1.7
planetary-computer~=1.0
pyarrow~=19.0
pydap~=3.5
pystac-client~=0.8
rasterio~=1.4
rasterstats~=0.20
rioxarray~=0.18
scikit-image~=0.24
scikit-learn~=1.5
scipy~=1.14
tensorflow~=2.18
xgboost~=2.1.4
ydf~=0.8
xarray~=2025.1
